.page-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.header {
    padding-top: 10px;
    display: flex;
    height: 80px;
    background-color: #000;
}
.left-section {
    display: flex;
    margin-left: 10px;
}
.page-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: rgba(18, 177, 62, 1); */
    cursor: pointer;
}
.photo {
    height: 60px;
}
.space {
    flex: 1;
}
.right-section {
    width: 550px;
    display: flex;
    justify-content: space-between;
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: lightblue; */
}
.cart-button {
    background-color: #000;
    /* border-color: rgba(18, 177, 62, 1);
    border-style: solid; */
    border: none;
    color: rgba(18, 177, 62, 1);
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 0px 3px 8px #888888; */
}
.cart-button:hover {
    opacity: 0.6;
}
.view-transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: lightcoral; */
}
.view-transaction-button {
    background-color: #000;
    /* border-color: rgba(18, 177, 62, 1);
    border-style: solid; */
    border: none;
    color: rgba(18, 177, 62, 1);
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 0px 3px 8px #888888; */
}
.view-transaction-button:hover {
    opacity: 0.6;
}
.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: lightgreen; */
}
.log-in-button {
    background-color: #000;
    border-color: rgba(18, 177, 62, 1);
    border-style: solid;
    /* border: none; */
    color: rgba(18, 177, 62, 1);
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 0px 3px 8px #888888; */
}
.log-in-button:hover {
    background-color: rgba(18, 177, 62, 1);
    color: #000;
}
/* .empty-space {
    height: 60px;
    background-color:#fff;
} */
.side-bar {
    /* margin-top: 160px; */
    width: 360px;
    /* height: 5000px; */
    height: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 80px;
    color: #036532;
}
.vehicle-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.pick-type, .price {
    margin-top: 10px;
    margin-left: 10px;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-lable > input {
    visibility: hidden;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumbnail {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.fluid {
    width: 100%;
}
p {
    margin-bottom: 10px;
    font-weight: bold;
}

