.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
.nickname {
    display: block;
    width: 300px;
    border-color: rgba(18, 177, 62, 1);
    border-style: solid;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
    font-family: Roboto, Arial;
    border-radius: 10px;
}
.nickname::placeholder {
    color: #000;
    font-weight: bold;
}
.password {
    display: block;
    width: 300px;
    border-color: rgba(18, 177, 62, 1);
    border-style: solid;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
    font-family: Roboto, Arial;
    border-radius: 10px;
}
.password::placeholder {
    color: #000;
    font-weight: bold;
}
.log-in {
    background-color: rgba(18, 177, 62, 1);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.log-in:hover {
    opacity: 0.8;
}